<div class="container">
  <!-- Header Menu -->
  <div class="header">
    <div class="header-links-left">
        {{ header_menu }}
            {{ if type == "header_link" }}
                    {{ if header_link_type == "text" && id !== "login" }}
                        <a><p class="text-link"> {{ header_link }} </p></a> 
                    {{ /if }}       
            {{ /if }}
        {{ /header_menu }}
     </div>
     <div class="header-links-right">
         {{ header_menu }}
             {{ if type == "header_link" }}
                     {{ if id == "login" }}
                         <a><p class="text-link"> {{ header_link }} </p></a>
                     {{ /if }}
                     {{ if header_link_type == "button" }}
                         <button class="get-started-button"> {{ header_link }} </button> 
                     {{ /if }}       
             {{ /if }}
         {{ /header_menu }}
      </div>
   </div>
    
   <!-- Large Text Headings -->
   <div class="headings-container">
      {{ large_text_heading }}
          {{ if type == "large_text_heading" && class !== "highlight" }}
              <h1 id="large-text-heading" class="heading-one"> {{ large_text_heading }} </h1>
          {{ /if }}
          {{ if type == "large_text_heading" && class == "highlight" }}
              <h1 class="{{ class }}" id="large-text-heading"> {{ large_text_heading }} </h1>
          {{ /if }}
      {{ /large_text_heading }}
   </div>

  <!-- Images -->
  {{ image }}
        {{ if type == "image" }} 
            {{ if alignment == "left" }}
                <img src="{{ image }}" class="left-aligned-image"/>
            {{ /if }}
            {{ if alignment == "right" }}
                <img src="{{ image }}" class="right-aligned-image"/>
            {{ /if }}
        {{ /if }}
  {{ /image }}

    <!-- Sign Up Container -->
    <div class="sign-up-container">
      <input class="input" placeholder="name@email.com"></input>
      <button class="button">Get Your Demo</button>
    </div>
    
</div>

